* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column_details{
    float: left;
    width: 25%;
    padding-top: 1%;
    padding-left: 5%;
    background: linear-gradient(120deg, LightSkyBlue, LightSkyBlue);
    border: 2px solid LightSkyBlue;
    border-radius: 5px;
}
.column {
    float: left;
    padding-top: 1%;
    padding-left: 5%;
    width: 50%;
    background: linear-gradient(120deg, LightSkyBlue, LightSkyBlue);
}

/* Clear floats after the columns */
.row{
    height: 100%;

}
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}