{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/three-column.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details-tag.css') }}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column_details" style="background-color:#86cfda;">
            <h2>Exercícios protótipo</h2>
            <label> </label>
            <p>Nome do Exercício: Agachamentos</p>
            <p>Repetições: 20</p>
            <p>Material: Nenhum</p> 
            <p>Tempo (em minutos): 1 minuto</p>
            <p>Instruções: Afaste os pés à largura dos ombros, apoiando-los totalmente no chão. Dobre os joelhos como se estivesse sentando em uma cadeira imaginária, mantendo as costas sempre retas.
               Volte a posição inicial.</p>
            <label> </label>
            <p></p>
            <p>Nome do Exercício: Curl Biceps</p>
            <p>Repetições: 20</p>
            <p>Material: peso de 1 kg </p> 
            <p>Tempo (em minutos): 1min e 30seg</p>
            <p>Instruções: 
                Comece em pé, com os pés separados na largura do quadril. Mantenha os músculos abdominais ativados.
                Segure um peso em cada mão. Deixe os braços relaxados nas laterais do corpo com as palmas voltadas para a frente.
                Mantendo os braços estáveis ​​e os ombros relaxados, dobre o cotovelo e levante os pesos de forma que estes se aproximem dos ombros. Seus cotovelos devem ficar dobrados perto das costelas. Expire enquanto levanta.
                Baixe os pesos para a posição inicial.
            </p>
        </div>


        <div class="column" align="left">
            <h2 align="center">Novo Treino para: João Monteiro </h2>


            <details>
                <summary>Detalhes do Exercício</summary>
                <form>
                    <div class="block">
                        <label>Nome do Exercício: </label>
                        <input type="text" size=50% placeholder="Ex: Braços"/>
                    </div>
                    <div class="block">
                        <label>Repetições: </label>
                        <input type="text" size=50% placeholder="Ex: 9 repetições"/>
                    </div>
                    <div class="block">
                        <label>Material: </label>
                        <input type="text" size=50% placeholder="Ex: halteres"/>
                    </div>
                    <div class="block">
                        <label>Tempo (em minutos): </label>
                        <input type="text" size=20% placeholder="Ex: 1 minuto"/>
                    </div>
                    <br>
                    <div class="block" align="left">
                        <label>Instruções: </label>
                        <textarea class="form-control" name="instructions" rows="3" placeholder="Como fazer..."></textarea>
                    </div>

                </form>
            </details>
            <div id="addMore"></div>
            <input type="submit" onclick="addExercise()" value="Adicionar Exercício">
            <input type="submit" onclick="removeExercise()" value="Remover Exercício">
            <input type="submit" align="middle" value="Submeter Treino">
        </div>




        <div class="column_details" style="background-color:#00e4d0;">
            <h2>Client Details</h2>
            <p>Telefone: 93994851 </p>
            <p>Peso: 50 kg</p>
            <p>Altura: 163 cm</p>
            <p>Objetivos: Ganhar massa muscular </p>
            <p>Problemas de Saúde: Nenhum </p>
        </div>
    </div>

    <script>
        const trains = document.getElementById("addMore");
        function addExercise(){
            trains.innerHTML += '<details id="plus"> <summary>Detalhes do Exercício</summary><form><div class="block"><label>Nome do Exercício: </label><input type="text" size=50% placeholder="Ex: Braços"/></div><div class="block"><label>Repetições: </label><input type="text" size=50% placeholder="Ex: 9 repetições"/></div><div class="block"><label>Material: </label> <input type="text" size=50% placeholder="Ex: halteres"/> </div><div class="block"><label>Tempo (em minutos): </label><input type="text" size=20% placeholder="Ex: 1 minuto"/></div><br> <div class="block"> <label>Instruções: </label><textarea class="form-control" name="instructions" rows="3" placeholder="Como fazer..."></textarea></div></form></details>';
        }

        function removeExercise(){
           try{
               trains.removeChild(trains.lastChild);
           }catch (e){
           }
        }

    </script>
{% endblock %}