<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <!-- Favicons -->
    <link href="../static/img/favicon.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Raleway') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gradient-navbar-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gradient-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-form-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">

                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ url_for('profile') }}" class="nav-link active btn btn-primary btn-sm mr-3">
                                O meu perfil   
                            </a>
                        </li>
                            <!-- If the User is a Client-->
                            {% if current_user.pt_code == 0 %}
                            <li class="nav-item">
                                <a href="{{ url_for('calendar') }}" class="nav-link active btn btn-primary btn-sm mr-3">
                                    O meu calendário de treinos  
                                </a>
                            </li>
                            
                            <!-- If the user is a PT -->
                            {% else %}

                            {% endif %} 

                    {% endif %} 
                    
                    {% if current_user.is_authenticated %}
                        <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link active btn btn-secondary btn-sm mr-3">
                            Sair
                        </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- <div class="container full-height">
        <div class="row flex center v-center full-height"> -->
    {% block content %} 
    {% endblock %}
    <!-- </div>
    </div> -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>