{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row center d-flex align-items-center myheight myheader">
        <div class="col">
            <h3>Os seu treinos agendados:</h3>
        </div>
    </div>
    <div class="row center mymaincontent">
        <div class="col-md-12">
            {% if current_user.train_list == [] %}
                <h5><b> O seu PT ainda não lhe criou um plano de treinos</b></h5>
            {% else %}
                {% for x in current_user.train_list %}
                <hr>    
                <p>Data -> {{ x.date }}</p>
                    <p><b>{{ x.name }}</b></p>
                    <p>  Duração: {{ x.duration }} minutos </p>
                    <a class="btn btn-primary bt-sm ml-1 rounded-pill">Realizar</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}