{% extends "base.html" %} {% block content %}

<div class="container" >
    <div class="row center d-flex align-items-center myheight myheader">
        <div class="col">
            <h2>Editar Conta PT</h2>
        </div>
    </div>
    <!--NOME-->
    <form method="POST" action="/editProfile_PT">
        <div class="row center">
            <div class="col-md-12">

                <div class="row my-3 mt-3">
                    <div class="col-md-8 offset-md-2"> <!--<div class="col-md-4 offset-md-2">-->
                        <div class="form-group">
                            <label for="name">Nome:</label>
                            <input class="form-control" type="text" name="name" placeholder={{current_user.name}}>
                        </div>
                    </div>                    
                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-6 offset-md-2">
                        <label for="cell_phone">Email:</label>
                        <input class="form-control" type="email" name="email" placeholder= {{current_user.email}}>
                    </div> 

                    <div class="col-md-2">
                        <label for="cell_phone">Numero de Telefone:</label>
                        <input class="form-control" type="tel" name="cell_phone" placeholder={{current_user.cell_phone}}>
                    </div>         

                </div>
                

                <div class="row my-3 mt-3">
                    <div class="col-md-8 offset-md-2"> <!--<div class="col-md-4 offset-md-2">-->
                        <div class="form-group">
                            <label for="address">Morada:</label>
                            <input class="form-control" type="text" name="address" placeholder={{current_user.address}}>
                        </div>
                    </div>                    
                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-6 offset-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <input class="form-control" type="text" name="city" placeholder={{current_user.city}}>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="postal_code">Codigo de postal:</label>
                            <input class="form-control" type="text" name="postal_code" placeholder={{current_user.postal_code}} >
                        </div>
                    </div>
                </div>

                
            
                <div class="row my-3 mt-3">
                    <div class="col-md-4 offset-md-2 d-flex align-items-center">
                        <div class="pl-4">
                            <input class="form-check-input" type="checkbox" id="checkPass" onclick="PTShow()">
                            <label class="form-check-label text-secondary" for="defaultCheck2">
                                    Mudar password
                            </label>
                        </div>
                    </div>

                    <div class="col-md-8 offset-md-2">
                        <div  id="inputPass" style="display: none;">
                            <div class="row my-3 mt-3">
                                <input class="form-control" type="password" name="password" placeholder="Nova password">
                            </div>
                            <div class="row my-3 mt-3">
                                <input class="form-control" type="password" name="password" placeholder="Confirmar password">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MudarPass">
                </div>
            </div>
        </div>
        
        <div class="row center align-items-center">
            <div class="col">
                <!--VER PAGINA DO PROFILE DO PT-->
                <a href="{{ url_for('profile') }}" class="btn btn-primary ml-4 rounded-pill">Voltar</a>
                <button type="submit" id="btn" class="btn btn-primary ml-4 rounded-pill">Guardar</button>
            </div>
        </div>
        <!--<div class="row my-3 mt-3"></div>-->
    </form>
</div>



<script src="{{ url_for('static', filename='js/logic.js') }}"></script>
<script>
    function PTShow() {
        // Get the checkbox
        var checkBox = document.getElementById("checkPass");
        // Get the output text
        var div = document.getElementById("MudarPass");
        var inPt = document.getElementById("inputPass");


        // If the checkbox is checked, hide 
        if (checkBox.checked == true) {
            div.style.display = "none";
            inPt.style.display = "block";
        } else {
            div.style.display = "block";
            inPt.style.display = "none";
        }
    }
</script>

{% endblock %}