{% extends "base.html" %}
{% block css %}
<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>
{% endblock %}

{% block content %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Atenção!</strong> Se não pretende alterar alguma informação em específico, por favor, deixe em branco. Obrigado!
    </div>
    <div class="container" style="background-color: #CEECF5;">
    <div class="row center d-flex align-items-center myheight myheader">
        <div class="col">
            <h2>Editar Conta </h2>
        </div>
    </div>
    <form method="POST" action="/editProfile_Client">
        <div class="row center" >
            <div class="col-md-12">

                <div class="row my-3 mt-3">
                    <div class="col-md-8 offset-md-2"> <!--<div class="col-md-4 offset-md-2">-->
                        <div class="form-group">
                            <label for="name">Nome:</label>
                            <input class="form-control" type="text" name="name" >
                        </div>
                    </div>                    
                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-6 offset-md-2">
                        <label for="cell_phone">Email:</label>
                        <input class="form-control" type="email" name="email" >
                    </div> 

                    <div class="col-md-2">
                        <label for="cell_phone">Numero de Telefone:</label>
                        <input class="form-control" type="tel" name="cell_phone" >
                    </div>         

                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-8 offset-md-2"> <!--<div class="col-md-4 offset-md-2">-->
                        <div class="form-group">
                            <label for="address">Morada:</label>
                            <input class="form-control" type="text" name="address">
                        </div>
                    </div>

                    <!--   
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="Nporta">No.:</label>
                            <input class="form-control" type="text" name="Nporta" placeholder="PREdefinido">
                        </div>
                    </div>
                    -->
                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-6 offset-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <input class="form-control" type="text" name="city">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="postal_code">Codigo de postal:</label>
                            <input class="form-control" type="text" name="postal_code">
                        </div>
                    </div>
                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-2 offset-md-2">
                        <div class="form-group">
                            <label for="weight">Peso:</label>
                            <input type="text" class="form-control" name="weight" placeholder=kg>
                        </div>
                        
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="height">Altura:</label>
                            <input type="text" class="form-control" name="height" placeholder=cm>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="bady">Data de Nascimento:</label>
                            <input type="date" class="form-control" name="bday" placeholder="dd-mm-aaaa" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                        </div>
                    </div>
                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <label for="obj">Objectivos:</label>
                            <textarea class="form-control" name="obj" rows="3" placeholder=></textarea>
                        </div>
                    </div>
                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <label for="health_problems">Problemas de saúde/Limitações físicas:</label>
                            <textarea class="form-control" name="health_problems" rows="5" placeholder=></textarea>
                        </div>
                    </div>
                </div>

                <div class="row my-3 mt-3">
                    <div class="col-md-4 offset-md-2 d-flex align-items-center">
                        <div class="pl-4">
                            <input class="form-check-input" type="checkbox" id="checkPass" onclick="PTShow()">
                            <label class="form-check-label text-secondary" for="defaultCheck2">
                                    Mudar password
                            </label>
                        </div>
                    </div>

                    <div class="col-md-8 offset-md-2">
                        <div  id="inputPass" style="display: none;">
                            <div class="row my-3 mt-3">
                                <input class="form-control" type="password" name="password" placeholder="Nova password">
                            </div>
                            <div class="row my-3 mt-3">
                                <input class="form-control" type="password" name="password" placeholder="Confirmar password">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="MudarPass"></div>
                
            </div>
        </div>
        
        <div class="row center align-items-center">
            <div class="col">
                <a href="{{ url_for('profile') }}" class="btn btn-primary ml-4 rounded-pill">Voltar</a>
                <button type="submit" id="btn" class="btn btn-primary ml-4 rounded-pill">Guardar</button>
            </div>
        </div>            
    </form>
</div>



<script src="{{ url_for('static', filename='js/logic.js') }}"></script>
<script>
    function PTShow() {
        // Get the checkbox
        var checkBox = document.getElementById("checkPass");
        // Get the output text
        var div = document.getElementById("MudarPass");
        var inPt = document.getElementById("inputPass");


        // If the checkbox is checked, hide 
        if (checkBox.checked == true) {
            div.style.display = "none";
            inPt.style.display = "block";
        } else {
            div.style.display = "block";
            inPt.style.display = "none";
        }
    }
</script>

{% endblock %}