{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
</head>

<body>
    <main class="page projects-page"></main>
        <section class="portfolio-block projects-with-sidebar">
            <div class="container">
                <div class="row center d-flex align-items-center myheight myheader">
                    <div class="col">
                        <h1>Meus Clientes</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><img src="{{ url_for('static', filename='/img/avatar.jpg') }}" style="height: 200px;width: 200px;margin-top: 83px;"><input class="form-control-plaintext bg-white border-white shadow-none" type="text" value="Personal Trainer" readonly="" style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 40px;padding: 7px;"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"></a><img class="rounded-circle img-fluid image scale-on-hover" src="{{ url_for('static', filename='img/avatar.jpg') }}" style="width: 100px;height: 100 px;margin: 0px;margin-top: 8px;margin-right: 0px;margin-left: 53px;"></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"></a>
                                <div class="progress" style="margin-top: 83px;">
                                    <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="{{ url_for('addtrain') }}"><img class="rounded-circle" src="{{ url_for('static', filename='img/circled.jpg') }}" style="margin-top: 66px;background: rgba(248,249,250,0);padding: 0px;width: 38px;"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="rounded-circle img-fluid image scale-on-hover" src="{{ url_for('static', filename='img/avatar.jpg') }}" style="width: 100px;margin-top: 20;margin-left: 53px;"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"></a>
                                <div class="progress" style="margin-top: 76px;">
                                    <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card" style="margin-top: 0px;"><a href="{{ url_for('addtrain') }}"><img class="rounded-circle" src="{{ url_for('static', filename='img/circled.jpg') }}"style="margin-top: 62px;background: rgba(248,249,250,0);padding: 0px;width: 38px;"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="rounded-circle img-fluid image scale-on-hover" src="{{ url_for('static', filename='img/avatar.jpg') }}" style="height: 100px;margin-right: 0px;margin-top: 0px;margin-left: 53px;"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"></a>
                                <div class="progress" style="margin-top: 70px;">
                                    <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="{{ url_for('addtrain') }}"><img class="rounded-circle" src="{{ url_for('static', filename='img/circled.jpg') }}" style="margin-top: 56px;background: rgba(248,249,250,0);padding: 0px;width: 38px;"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        </section>
  
       
    </body>
{% endblock %}