{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row center d-flex align-items-center myheight myheader">
        <div class="col">
            <h3>Bem-vindo {{current_user.name}}!</h1>
        
        </div>
    </div>
    <div class="row center mymaincontent">
        <div class="col-md-12">

            <p>Nome: <mark>{{current_user.name}}</mark></p>
            <p>E-Mail: <mark>{{current_user.email}}</mark></p>
            {% if current_user.pt_code != 0 %}
            <p>Código de PT: <mark>{{current_user.pt_code}}</mark></p>
            {% endif %}
            <p>Morada: <mark>{{current_user.address}}</mark></p>
            <p>Cidade: <mark>{{current_user.city}}</mark></p>
            <p>Telefone: <mark>{{current_user.cell_phone}}</mark></p>
            <p>Codigo Postal: <mark>{{current_user.postal_code}}</mark></p>
            {% if current_user.pt_code == 0 %}
            <p>Aniversário: <mark>{{current_user.bday}}</mark></p>
            <p>Peso: <mark>{{current_user.weight}}</mark> kg</p>
            <p>Altura: <mark>{{current_user.height}}</mark> cm</p>
            <p>Objetivos: <mark>{{current_user.obj}}</mark></p>
            <p>Problemas de Saúde: <mark>{{current_user.health_problems}}</mark></p>
            {% endif %} 
        </div>
    </div>
{% endblock %}