{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row" style="margin-bottom:26px;">
      <div class="col-xs-12">
        <h2>Gráfico do progresso</h2>
      </div>                
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="progress-title">Indice de Massa Corporal</h3>
        <div class="progress pink">
          <div class="progress-bar">
            <div class="progress-value">40%</div>
          </div>
        </div>
        <div class="progress green">
          <div class="progress-bar">
            <div class="progress-value">100%</div>
          </div>
        </div>
  
        <h3 class="progress-title">Indice de Massa Gorda</h3>
        <div class="progress pink">
          <div class="progress-bar">
            <div class="progress-value">40%</div>
          </div>
        </div>
        <div class="progress green">
          <div class="progress-bar">
            <div class="progress-value">100%</div>
          </div>
        </div>
  
        <h3 class="progress-title">Indice de Massa Muscular</h3>
        <div class="progress pink">
          <div class="progress-bar">
            <div class="progress-value">40%</div>
          </div>
        </div>
        <div class="progress green">
          <div class="progress-bar">
            <div class="progress-value">60%</div>
          </div>
        </div>
  
        <h3 class="progress-title">Peso</h3>
        <div class="progress pink">
          <div class="progress-bar">
            <div class="progress-value">40%</div>
          </div>
        </div>
        <div class="progress green">
          <div class="progress-bar">
            <div class="progress-value">4%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
